trunk/guerilla/hivqs/hivqAnnotSeqType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://fortinbras.us/HIVDBSchema/1.0/AnnotSeq" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://fortinbras.us/HIVDBSchema/1.0/ST" schemaLocation="hivqSimpleTypes.xsd"/>
  <xs:import namespace="http://fortinbras.us/HIVDBSchema/1.0/CT" schemaLocation="hivqComplexTypes.xsd"/>
  <xs:complexType name="registrationType">
    <xs:sequence>
      <xs:element name="sequenceIds">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="LANLSeqId" type="hst:integerGt0" xmlns:hst="http://fortinbras.us/HIVDBSchema/1.0/ST"/>
            <xs:element minOccurs="0" name="GenBankAccn">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[A-Z]{2}[0-9]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="SeqVersion" type="hst:integerGt0" xmlns:hst="http://fortinbras.us/HIVDBSchema/1.0/ST"/>
            <xs:element minOccurs="0" name="GI" type="hst:integerGt0" xmlns:hst="http://fortinbras.us/HIVDBSchema/1.0/ST"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="LANLPatientId" type="hst:integerGt0" xmlns:hst="http://fortinbras.us/HIVDBSchema/1.0/ST"/>
      <xs:element minOccurs="0" name="LANLLocationID" type="hst:integerGt0" xmlns:hst="http://fortinbras.us/HIVDBSchema/1.0/ST"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="commentType">
    <xs:all minOccurs="0">
      <xs:element maxOccurs="1" minOccurs="0" name="LANLDBComment" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="GenBankComment" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="LANLPatComment" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="LANLProblematicSeq">
        <xs:complexType>
          <xs:all minOccurs="0">
            <xs:element maxOccurs="1" minOccurs="0" name="problematicValue">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:all>
          <xs:attribute name="problemcode" type="hst:ssam_badseqCodeType" use="required" xmlns:hst="http://fortinbras.us/HIVDBSchema/1.0/ST"/>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="annotSeqType">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="1" name="registration" type="has:registrationType" xmlns:has="http://fortinbras.us/HIVDBSchema/1.0/AnnotSeq"/>
      <xs:element maxOccurs="1" minOccurs="0" name="comments" type="has:commentType" xmlns:has="http://fortinbras.us/HIVDBSchema/1.0/AnnotSeq"/>
      <xs:element minOccurs="0" name="author" type="hct:authorType" xmlns:hct="http://fortinbras.us/HIVDBSchema/1.0/CT"/>
      <xs:element minOccurs="0" name="location2" type="hct:location2Type" xmlns:hct="http://fortinbras.us/HIVDBSchema/1.0/CT"/>
      <xs:element minOccurs="0" name="patient" type="hct:patientType" xmlns:hct="http://fortinbras.us/HIVDBSchema/1.0/CT"/>
      <xs:element minOccurs="0" name="person" type="hct:personType" xmlns:hct="http://fortinbras.us/HIVDBSchema/1.0/CT"/>
      <xs:element minOccurs="0" name="se_pub_link" type="hct:se_pub_linkType" xmlns:hct="http://fortinbras.us/HIVDBSchema/1.0/CT"/>
      <xs:element minOccurs="0" name="seq_sample" type="hct:seq_sampleType" xmlns:hct="http://fortinbras.us/HIVDBSchema/1.0/CT"/>
      <xs:element minOccurs="0" name="seqentryfeature" type="hct:seqentryfeatureType" xmlns:hct="http://fortinbras.us/HIVDBSchema/1.0/CT"/>
      <xs:element minOccurs="0" name="sequencefeature2" type="hct:sequencefeature2Type" xmlns:hct="http://fortinbras.us/HIVDBSchema/1.0/CT"/>
      <xs:element minOccurs="0" name="sequencemap" type="hct:sequencemapType" xmlns:hct="http://fortinbras.us/HIVDBSchema/1.0/CT"/>
      <xs:element maxOccurs="1" minOccurs="0" name="genomic_region" type="hst:genomic_regionType" xmlns:hst="http://fortinbras.us/HIVDBSchema/1.0/ST"/>
    </xs:all>
  </xs:complexType>
</xs:schema>
